# OS
.DS_Store

# Env
.env
*.env.local

# Go
backend/bin/
backend/tmp/
backend/go.work.sum

# Foundry
contracts/out/
contracts/cache/
contracts/broadcast/
contracts/lib/

# IDE
.vscode/
.idea/

# Docker
*.log